<ul *ngFor="let task of tasks | async" class="collection">
  <li class="collection-item" (dblclick)="deleteTask($event, task)">
    {{ task.id }} <strong>{{ task.title }}</strong> : {{ task.description }}
    <a href="#" class="secondary-content">
      <button (click)="deleteTask($event, task)" >DELETE</button>
      <button (click)="editTask($event, task)" >EDIT</button>
    </a>
    <div *ngIf="editState && taskToEdit.id === task.id">
      <form (ngSubmit)="updateTask(task)">
        <div class="row">
          <div class="input-field col s6">
            <input
              type="text" name="title"
              placeholder="Edit Title" [(ngModel)]="task.title">
          </div>
          <div class="input-field col s6">
              <input
                type="text" name="description"
                placeholder="Edit Description" [(ngModel)]="task.description">
          </div>
          <input type="submit" class="btn" value="Update Task">
          <button class="btn red" (click)="deleteTask($event, task)">Delete Task</button>
        </div>
      </form>
    </div>

  </li>
</ul>

<ng-template #noTasks>
  <h5>There is not Tasks yet.</h5>
</ng-template>