<div *ngIf="(tasks$ | async) as tasks; else noTasks">
    <ul *ngFor="let task of tasks" class="collection">
        <li class="collection-item">
            {{ task.id }} <strong>{{ task.title }}</strong> : {{ task.description }}
            <p>
                <button mat-raised-button (click)="deleteTask($event, task)">DELETE</button>
                <button mat-raised-button (click)="editTask($event, task)">EDIT</button>
            </p>
            <div *ngIf="editState && taskToEdit.id === task.id">
                <form (ngSubmit)="updateTask(task)">
                    <div class="row">
                        <div class="input-field col s6">
                            <mat-form-field appearance="outline">
                                <mat-label>Outline form field</mat-label>
                                <input matInput placeholder="Edit Title" name="title" [(ngModel)]="task.title">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="input-field col s6">
                            <mat-form-field appearance="outline">
                                <mat-label>Outline form field</mat-label>
                                <input matInput placeholder="Edit description" name="description" [(ngModel)]="task.description">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button type="submit">Update</button>
                        <button mat-raised-button (click)="cancel($event, task)">Cancel</button>
                        <button mat-raised-button (click)="deleteTask($event, task)">Delete</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
<ng-template #noTasks>
    <h5>There is not Tasks yet.</h5>
</ng-template>