<div class="flex center middle">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>
                <div class="logo">
                    <div class="logo-img">
                        <img src="/assets/img/logo.png"/>
                    </div>
                    Live Quiz
                    <span class="version">v. 0.0.1</span>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="E-mail address" formControlName="email" name="email" required>
                    </mat-form-field>
                    <div *ngIf="formErrors.email" class="help is-danger">
                        {{ formErrors.email }}
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password" name="password" required>
                    </mat-form-field>
                    <div *ngIf="formErrors.password" class="help is-danger">
                        {{ formErrors.password }}
                    </div>
                </div>
                <div class="login">
                    <button mat-raised-button (click)="login()" color="warn" [disabled]="!loginForm.valid">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
