.login-card {
    width: 25vw;
}

.logo {
    width: 100%;
    text-transform: uppercase;
    padding: 5px 0;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
}

.logo .logo-img {
    width: 35px;
    display: inline-block;
}

.logo .logo-img img {
    width: 35px;
    margin-top: -8px;
}

.logo .version {
    text-transform: lowercase;
    font-size: 10px;
}

.login {
    text-align: right;
}

.help.is-danger {
    color: #ff3860;
}

.help {
    display: block;
    font-size: .75rem;
    margin-bottom: 1em;
    margin-top: -1em;
}

.loader {
    margin-top: 10px;
    height: 5px;
}