<div class="main-content">
    <div class="container-fluid">
        <div class="mat-elevation-z8">

            <div>
                {{ quiz | async | json }}
            </div>
            <mat-card>
                <form [formGroup]="quizForm">

                    Value: {{ quizForm.value | json }}

                    <hr>

                    <mat-form-field>
                        <input matInput placeholder="title" formControlName="title">
                    </mat-form-field>

                    <mat-card>
                        <mat-card-title>Questions</mat-card-title>
                        <div formArrayName="questions">

                            <div *ngFor="let question of questionForms.controls; let i=index" [formGroupName]="i">


                                <mat-form-field class="xs">
                                    <input matInput placeholder="title" formControlName="title">
                                </mat-form-field>

                                <mat-form-field class="xs">
                                    <input matInput placeholder="content" formControlName="content">
                                </mat-form-field>


                                <button mat-raised-button color="warn" (click)="deleteQuestion()">Delete</button>

                            </div>

                        </div>

                        <button mat-raised-button (click)="addQuestion()">Add question</button>
                    </mat-card>

                    <button mat-raised-button color="accent" (click)="save()">Save quiz</button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
