<div class="container-fluid">
    <div class="">
        <button mat-raised-button (click)="fader(-1)">Prev</button>
        <button mat-raised-button (click)="fader(1)">Next</button>
    </div>
    <br /><br />
    <div *ngIf="question" class="mat-elevation-z8">
        <mat-card [ngClass]="{'fadeIn': fadeIn, 'fadeOut': fadeOut}" class="question">
            <mat-card-title>{{ question.title }}</mat-card-title>
            <mat-card-subtitle>{{ question.content }}</mat-card-subtitle>
            <div *ngFor="let answer of answers">
                <mat-radio-button *ngIf="isSingle(question)" (change)="check($event)" [(ngModel)]="answer.checked" ngDefaultControl>
                    {{ answer.content }}
                </mat-radio-button>
                <mat-checkbox *ngIf="isMulti(question)" (change)="check($event)" [(ngModel)]="answer.checked" ngDefaultControl>
                    {{ answer.content }}
                </mat-checkbox>
            </div>
            <mat-card-actions align="end">
                <button mat-raised-button (click)="save()">OK</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
